@model CisEng.Models.Comments

@{
    ViewData["Title"] = "Create";
}
<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/froala-editor@3.0.0-beta.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />

<!-- Include Editor JS files. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.0.0-beta.1//js/froala_editor.pkgd.min.js"></script>



<div class="row">
    <div class="col-md-4" style="    margin: auto;
    margin-top: 5%;">
        <form asp-action="Create" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
              
                <textarea asp-for="comment" id="comment" name="comment" class="form-control"></textarea>
                <span asp-validation-for="comment" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="StudentId"  class="control-label"></label>
                <input asp-for="StudentId" value="@ViewData["studentId"]" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="PostId" class="control-label"></label>
                <input asp-for="PostId" value="@ViewData["postId"]" class="form-control" />
                <span asp-validation-for="PostId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" value="@DateTime.Now" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<style>
    #emoticons-1{
        display:none;
    }
</style>
<script>
    new FroalaEditor('#comment', {
        // Set the image upload URL.
        imageUploadURL: '/UploadImage',

        imageUploadParams: {
            id: 'my_editor'
        },
         fileUploadURL: '/UploadFiles',

      fileUploadParams: {
        id: 'my_editor'
      }
    })
</script>

